$base-theme:Bootstrap;
$skin-name:TEMA LAND TEAM;
$brand-primary: #d27800;
$brand-info: #5bc0de;
$brand-success: #f4ecea;
$brand-warning: #f40622;
$brand-danger: #f40622;
$body-bg: #fffcfb;
$body-color: #292b2c;
$btn-secondary-bg: #ffffff;
$btn-secondary-color: #292b2c;
$card-bg: #f6f6f6;
$panel-text: #292b2c;
$card-cap-bg: #fac784;
$header-text: #292b2c;
$dropdown-bg: #e2d3d3;
$dropdown-link-color: #292b2c;
$dropdown-link-hover-bg: #f7f7f9;
$dropdown-link-hover-color: #1d1e1f;
$modal-content-bg: #ffffff;
$window-text: #292b2c;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
