@{
    ViewBag.Title = "Inicio";
}
<div class="row">
    <div class="col-lg-offset-3 col-lg-6">
        <img src="~/Content/Images/Icono-IGSI-color-letra-ver.png" class="img-responsive" alt="Alternate Text" />
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <hr />
    </div>
    <div class="col-lg-4">
        <img src="~/Content/Images/Logos-IWG-FREIGHT-01.png" class="img-responsive" alt="Alternate Text" />
    </div>
    <div class="col-lg-4">
        <img src="~/Content/Images/Logos-IWG-ILT_01.png" class="img-responsive" alt="Alternate Text" />
    </div>
    <div class="col-lg-4">
        <img src="~/Content/Images/Logos-IWG-ROYAL-LOGISTIC_01.png" class="img-responsive" alt="Alternate Text" />
    </div>
</div>

<script>
    if (typeof (Storage) !== "undefined") {
        $.ajax({
            type: "GET",
            url: "Common/GetUrlApi",
            error: function (xhr, status, error) {
                alert(error + "Error");
            },
            success: function (response) {
                localStorage.setItem("UrlApi", response);
            }
        });
        $.ajax({
            type: "GET",
            url: "Common/GetUrlTransverse",
            error: function (xhr, status, error) {
                alert(error + "Error");
            },
            success: function (response) {
                localStorage.setItem("UrlTransverse", response);
            }
        });
    } else {
        alert("Debe actualizar su navegador, para el correcto funcionamiento del sistema.");
    }
</script>
